# Ignore Visual Studio build outputs
bin/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.idb

# Ignore Visual Studio user/project files
*.user
*.vcxproj.user
*.suo
*.VC.db

# Ignore Visual Studio hidden folder
.vs/

# Ignore backup folder
backup_cleanup/

# Ignore temporary files
*.log
*.tmp
